.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-profile-picture {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 200px;
    width: auto;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
    .skill {
      padding: 5px;
      border: 1px solid $secondary;
      border-radius: 7px;
      background-color: $primary;
      color: $secondary;
      transition: .5s;
      margin: 5px;
  
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
    }
  }

  .about-tab {
    display: flex;
    justify-content: center;

    .item-tab {
      padding: 3px 6px;
      margin: 0 10px;
      background-color: transparent;
      border: 0;
      color: $secondary;
    }

    .active {
      background-color: $secondary;
      color: $primary;
    }
  }
}


// Medium devices (tablets, 992px and up)
@include media-breakpoint-up(lg) {
  .about {
    .skills {
      padding-left: 300px;
      padding-right: 300px;
    }
  }
}